name: Zarf init with Injector

on:
  pull_request:

jobs:
  build-injector:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: "Install Rust toolchain"
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b # master
        with:
          toolchain: stable

      - name: "Build injector"
        run: |
          make install-cross
          make injector

      - name: "Upload injector artifacts"
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: injector-amd
          path: target/x86_64-unknown-linux-musl/release/zarf-injector
      
      - name: "Upload injector artifacts"
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: injector-arm
          path: target/aarch64-unknown-linux-musl/release/zarf-injector
      

  test-init:
    needs: build-injector
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-24.04-arm", "ubuntu-24.04"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: "Download injector artifacts"
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: injector-amd
          path: target/x86_64-unknown-linux-musl/release/

      - name: "Download injector artifacts"
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: injector-arm
          path: target/aarch64-unknown-linux-musl/release/

      - name: Install Zarf
        uses: zarf-dev/setup-zarf@10e539efed02f75ec39eb8823e22a5c795f492ae # v1.0.1

      - name: "Setup K3d" 
        run: |
          curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash
          k3d cluster create
        
      - name: "Build Zarf package"
        run: |
          cd test
          zarf package create
      
      - name: "Run zarf init"
        run: |
          cd test
          zarf init --confirm